version: "3.9"

services:
  app:
    build: .
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8005:8005"
    command: ["php", "-S", "0.0.0.0:8005", "-t", "public", "public/index.php"]
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"